.contactsTableContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

table {
  width: 90%;
  border-collapse: collapse;
  text-align: left;
  table-layout: fixed;
}

th,
td {
  padding: 12px;
  border: 2px solid orange;
  text-align: left;
}

th {
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

td {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

th:nth-child(1),
td:nth-child(1) {
  width: 15%;
}
th:nth-child(2),
td:nth-child(2) {
  width: 20%;
}
th:nth-child(3),
td:nth-child(3) {
  width: 15%;
}
th:nth-child(4),
td:nth-child(4) {
  width: 40%;
}
th:nth-child(5),
td:nth-child(5) {
  width: 10%;
}
