.reservationForm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.reservationForm-container h2 {
  font-size: 40px;
  color: black;
  font-weight: bolder;
  padding-bottom: 3px;
  border-bottom: 1px solid red;
}

.reservationForm-container .reservationForm-container__calendarImg {
  width: 40%;
}

.reservationForm-container__head {
  display: flex;
  align-items: center;
  gap: 30px;
}

.reservationForm-container__head img {
  width: 100px;
  height: 100px;
}

.reservationForm-container__body {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.reservationForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 30px;
  width: 60%;
  background-color: rgb(241, 137, 155);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(248, 110, 248);
}

.reservationForm h3 {
  font-size: 23px;
}

.reservationForm .reservationForm__field {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 55%;
}

.reservationForm__field label {
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: bolder;
  color: rgb(245, 19, 53);
}

.reservationForm__field input,
.reservationForm__field textarea {
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid rgb(128, 0, 255);
  outline: none;
  background-color: pink;
  font-weight: bolder;
  transition: all 0.4s ease;
}

.reservationForm__field select {
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid rgb(128, 0, 255);
  outline: none;
  background-color: pink;
  font-weight: bolder;
  transition: all 0.4s ease;
  cursor: pointer;
}

.reservationForm__field select:focus {
  border-bottom: 2px solid rgb(128, 0, 255);
  background-color: rgb(255, 182, 193);
}

.reservationForm__field input:hover {
  background-color: rgb(241, 134, 152);
}

.reservationForm__field input:focus {
  border: 1px solid purple;
}

#reservationButton,
#sendContactFormButton,
#backButton {
  margin-top: 10px;
  background-color: pink;
  color: red;
  border: none;
  border-radius: 20px;
  font-weight: bolder;
  padding: 5px 10px;
  font-size: 21px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#reservationButton:hover,
#sendContactFormButton:hover,
#backButton:hover {
  background-color: rgb(255, 161, 177);
}
