.reservationTable {
  width: 95%;
  margin: 20px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.reservationTable table {
  width: 100%;
  border-collapse: collapse;
}

.reservationTable th,
.reservationTable td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.reservationTable th {
  background-color: #f0f0f0;
}

.reservationTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

#showStatus {
  margin: 10px 5px;
  padding: 5px 8px;
  background-color: lightcoral;
  border: 1px solid #ddd;
  font-weight: bolder;
  font-size: 17px;
  width: fit-content;
}

.reservationTable__reservationStatus {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.reservationTable__reservationStatus button {
  border: none;
  background-color: lightcoral;
  border-radius: 20px;
  margin: 3px 0;
  padding: 5px 0;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.reservationTable__reservationStatus button:hover {
  background-color: rgb(247, 95, 95);
  font-weight: bolder;
}

#statusChangedMessage {
  margin: 5px 10px;
  font-weight: bolder;
  font-size: 17px;
}
