.adminNav {
  background-color: lightcoral;
}

.adminNav__ul {
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 20px;
}

.adminNav__ul__li_link {
  color: black;
  font-size: 21px;
  transition: all 0.3s ease;
}

.adminNav__ul__li_link:hover {
  font-weight: bolder;
}
